<div id="reset-password" fxLayout="column">
  <div
    id="reset-password-form-wrapper"
    fxLayout="column"
    fxLayoutAlign="center center"
  >
    <div
      id="reset-password-form"
      [@animate]="{ value: '*', params: { duration: '300ms', y: '100px' } }"
    >
      <div class="logo">
        <img src="assets/images/logos/black-bg-logo.svg" />
      </div>

      <div class="title">RESET YOUR PASSWORD</div>

      <form
        *ngIf="codeValid && !resetSuccess && !error"
        name="resetPasswordForm"
        [formGroup]="resetPasswordForm"
        (submit)="resetPassword()"
        novalidate
      >
        <mat-form-field appearance="outline">
          <mat-label>New Password</mat-label>
          <input
            matInput
            appValidateEqual="passwordConfirm"
            reverse="true"
            maxlength="20"
            type="password"
            formControlName="password"
          />
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error>
            Password is required
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            maxlength="20"
            type="password"
            appValidateEqual="password"
            formControlName="passwordConfirm"
          />
          <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
          <mat-error
            *ngIf="
              resetPasswordForm.get('passwordConfirm').hasError('required')
            "
          >
            Password confirmation is required
          </mat-error>
          <mat-error
            *ngIf="
              !resetPasswordForm.get('passwordConfirm').hasError('required') &&
              resetPasswordForm.get('passwordConfirm').hasError('misMatched')
            "
          >
            Password and confirm password should be same
          </mat-error>
        </mat-form-field>

        <button
          mat-raised-button
          class="submit-button"
          color="accent"
          aria-label="RESET MY PASSWORD"
        >
          RESET MY PASSWORD
        </button>
      </form>
      <div *ngIf="!codeValid">
        Verification link is invalid.
      </div>
      <div *ngIf="isSubmitted && resetSuccess">
        Password reseted successfully.
      </div>
      <div *ngIf="isSubmitted && error">
        Something went wrong please try again.
      </div>
    </div>
  </div>
</div>
