@import '../../../../@fuse/scss/partials/plugins/prism';

form {
  float: left;
  width: 100%;

  mat-label {
    width: 30% !important;
  }

  .button-group,
  .radio-group {
    justify-content: center;
    margin-bottom: 50px;
  }

  button {
    border-radius: 40px;
  }
}

.main-content-block {
  clear: both;
  float: left;
  width: 100%;
}

.frm-block-layout {
  margin-left: 0 !important;
  width: 100% !important;
  padding: 0 15px !important;
  box-sizing: border-box;
  float: left;
}
ckeditor.content-editor {
  width: 100%;
}
